PORT=5004
REDIS_HOST=localhost
REDIS_PORT=6379
KAFKA_BROKERS=localhost:9092
CONSUL_HOST=localhost
CONSUL_PORT=8500
SERVICE_NAME=feed-service
SERVICE_ID=feed-service-1
POST_SERVICE_URL=http://localhost:5002
INTERACTION_SERVICE_URL=http://localhost:5003
