PORT=5002
DATABASE_URL=postgresql://post_user:post_pass@localhost:5433/post_db
KAFKA_BROKERS=localhost:9092
CONSUL_HOST=localhost
CONSUL_PORT=8500
SERVICE_NAME=post-service
SERVICE_ID=post-service-1
SERVICE_ADDRESS=localhost
